/**********************\

          GENERAL

/**********************/

@font-face {
    font-family: 'space_light';
    src: url('../fonts/space_light.otf');
}

@font-face {
    font-family: 'space_bold';
    src: url('../fonts/space_bold.otf');
}

@font-face {
    font-family: 'space_regular';
    src: url('../fonts/space_regular.otf');
}

@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/roboto_regular.ttf')
}

body {
    background: url('../images/backgroundEarth.png');
    background-size: 100%;
}

a {
    text-decoration: none;
}


/***** SPACEX LOGO *****/

.logo .spaceX {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 500px;
}


/***** CONTAIN EARTH *****/

.containEarth {
    position: relative;
    margin: auto;
    margin-top: 7%;
    width: 1260px;
}

.containEarth h2 {
    color: #30769E;
    text-transform: uppercase;
    text-shadow: 0 0 1px #7dc7EE;
}

.containEarth p {
    color: #30769E;
}


/******************************\
          
      INFOS SECTION EARTH

/*******************************/

.containEarth .infos-section {
    position: absolute;
    margin-top: 12%;
    left: -8%;
    width: 400px;
    height: 300px;
}

.containEarth .infos-section .background {
    position: absolute;
    top: -150px;
    left: -165px;
}

.containEarth .infos-section .title {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 21%;
    font-family: 'space_light', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.containEarth .infos-section .description {
    font-family: 'roboto_regular', sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-left: 3%;
    margin-right: 10%;
}


/**********************\

     EARTH SECTION

/**********************/

.containEarth .planet-section {
    position: absolute;
    margin-top: 28%;
    /* center trick */
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    overflow: hidden;
    border-radius: 50%;
    /* effects */
    box-shadow: 0 0 25px 10px #182d52 inset, 0 0 50px #182d52;
    /* filter: drop-shadow(5px 5px 15px #182d52); */
}


/*** EARTH PLANISPHERE ***/

.containEarth .planet-section .planet {
    position: absolute;
    width: 248%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/Earth.png') repeat-x;
    background-size: 52%;
    /* box-shadow: -100px 10px 100px 0px #182d52 inset; */
    will-change: transform;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-52%);
    }
}


/*** EARTH EFFECT DIV BEHIND THE PLANET ***/

.containEarth .planet-section .planet-for-effect {
    position: absolute;
    width: 248%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/Earth-inverse.png') repeat-x;
    background-size: 52%;
    filter: blur(3px);
    will-change: opacity;
    opacity: 0.75;
    /* box-shadow: -100px 10px 100px 0px #182d52 inset; */
    will-change: transform;
    animation: slideEffect 20s linear infinite;
}

@keyframes slideEffect {
    from {
        transform: translateX(-52%);
    }
    to {
        transform: translateX(0);
    }
}


/*******************************\

    ACTIONS SECTION EARTH

/********************************/

.containEarth .action-section {
    left: 35%;
    position: absolute;
    margin-top: 55%;
    width: 400px;
    height: 100px;
}

.containEarth .action-section a {
    display: inline-block;
    margin-top: 6%;
}

.containEarth .action-section h2 {
    display: inline-block;
    font-family: 'space_regular', sans-serif;
    font-size: 34px;
    text-align: center;
}

.containEarth .action-section img {
    width: 60px;
}

.containEarth .action-section .prev {
    margin-left: 5%;
}

.containEarth .action-section .planet-name {
    position: relative;
    bottom: 15.5%;
    left: 12%;
}

.containEarth .action-section .next {
    margin-left: 25%;
}


/*****************************\

      TEXTS SECTION EARTH

/******************************/

.containEarth .texts-section {
    position: absolute;
    margin-top: 18%;
    right: -8%;
    width: 400px;
    height: 500px;
}

.containEarth .title-section {
    margin-bottom: 5%;
    font-family: 'space_light', sans-serif;
    font-size: 20px;
}

.containEarth .texts-section p {
    font-family: 'roboto_regular', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.containEarth .texts-section img {
    position: relative;
    margin-left: 5%;
    top: 10px;
    width: 40px;
}

.containEarth .texts-section .mission-section {
    margin-left: 5%;
    margin-bottom: 5%;
}

.containEarth .mission-section .title-section .mission {
    display: inline-block;
}

.containEarth .texts-section .rocket-section {
    margin-left: 5%;
    margin-bottom: 5%;
}

.containEarth .rocket-section .title-section .mission {
    display: inline-block;
}

.containEarth .texts-section .datas-section {
    margin-left: 5%;
}

.containEarth .datas-section .title-section .mission {
    display: inline-block;
}


/**********************\

      CLASS FOR JS

/**********************/

.displayNone {
    overflow: hidden;
    height: 0;
    will-change: opacity;
    opacity: 0;
}

.displayYes {
    overflow: hidden;
    height: auto;
    will-change: opacity;
    opacity: 1;
    transition: opacity 0.75s ease-in;
}