/*
a45a9f = violet
2c122e = noir
*/

/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

@font-face {
    font-family: 'Adelle Bold';
    src: url(../fonts/Adelle_Bold.otf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}

body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
    background: #dfdfdf;
    width: 100%;
    height: 190px;
    border-bottom: 1px solid #2c122e;
}

.header .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header .logo-section {
    display: inline-block;
    margin-right: 160px;
    margin-left: 45px;
    position: relative;
    bottom: -12px;
}


.header .menu-section {

    display: inline-block;
    position: relative;
    bottom: 62px;
}

.header .line {
    width: 50px;
    height: 3px;
    background: #a45a9f;
}

.header .menu-section .item {
    display: inline-block;
    text-align: center;
    font-family: 'Adelle Bold';
    font-size: 25px;
}

.header .menu-section .item-1, .item-2, .item-3 {
    margin-right: 90px;
}

/***** RESPONSIVE  *****/



/*------------------------------------*\
  #MAIN
\*------------------------------------*/

/*----- SECTION 1  -----*/

.main {
    width: 100%;
}

.main .section-1 {
    background: burlywood;
    margin-left: auto;
    margin-right: auto;
    /* 940 - padding total of section */
    height: 990px;
}

.main .section-1 .title-section {
    padding-top: 60px;
    width: 200px;
    margin: auto;
    font-family: 'Adelle Bold';
    font-size: 34px;
}

.main .section-1 .title-section .line {
    width: 60px;
    height: 3px;
    background: #a45a9f;
}

.main .section-1 .text-section {
    padding-top: 80px;
    width: 750px;
    margin: auto;
    font-family: 'Open Sans';
    font-size: 24px;
}

.main .section-1 .text-section .p {
    margin-bottom: 50px;
    line-height: 30px;
}

/***** RESPONSIVE  *****/



/*----- SECTION 2  -----*/

.main .section-2 {
    background: rosybrown;
    margin-left: auto;
    margin-right: auto;
    /* 1130 - padding total of section */
    height: 990px;
}

.main .section-2 .title-section {
    padding-top: 60px;
    width: 290px;
    margin: auto;
    font-family: 'Adelle Bold';
    font-size: 34px;
}

.main .section-2 .title-section .line {
    width: 60px;
    height: 3px;
    background: #a45a9f;
}

.main .section-2 .abilities {
    width: 1000px;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.main .section-2 .abilities .section {
    display: inline-block;
    width: 320px;
    text-align: center;
}

.main .section-2 .abilities .title {
    font-family: 'Open Sans Bold';
    font-size: 24px;
}

/* container of abilities img, text */
.main .section-2 .abil {
    margin-top: 35px;
}

.main .section-2 .web-dev, .in-learn {
    margin-right: 10px;
}

.main .section-2 .web-dev .html-css-js {
    margin-bottom: 25px;
}

/* img php */
.main .section-2 .web-dev .php {
    margin-right: 5px;
}

.main .section-2 .tools {
    position: relative;
    bottom: 132px;
}

/* img vscode */
.main .section-2 .tools .vscode {
    margin-right: 20px;
}

.main .section-2 .design {
    position: relative;
    bottom: 132px;
}

/* img of xd, illustrator */
.main .section-2 .design .xd, .illustrator {
    margin-right: 10px;
}

.main .section-2 .in-learn {
    margin-top: 75px;
}

.main .section-2 .in-learn .webdev {
    margin-bottom: 25px;
}

.main .section-2 .others {
    position: relative;
    bottom: 132px;
}

.main .section-2 .others .abil {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #2c122e;
}

.main .section-2 .others .a-1 {
    margin-bottom: 12px;
}


/***** RESPONSIVE  *****/



/*----- SECTION 3  -----*/

.main .section-3 {
    background: rebeccapurple;
    margin-left: auto;
    margin-right: auto;
    /* 1130 - padding total of section */
    height: 990px;
}

.main .section-3 .title-section {
    padding-top: 60px;
    width: 325px;
    margin: auto;
    font-family: 'Adelle Bold';
    font-size: 34px;
}

.main .section-3 .title-section .line {
    width: 60px;
    height: 3px;
    background: #a45a9f;
}

.main .section-3 .works {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    text-align: center;
}

/* img gestion */
.main .section-3 .preview {
    width: 300px;
    height: 150px;
    background: chartreuse;
    border: 1px solid #111;
}

.main .section-3 .preview img {
    width: 100%;
    height: 100%;
}
/* end of img gestion */

.main .section-3 .work {
    display: inline-block;
}

.main .section-3 .works .title-sect {
    font-family: 'Open Sans Bold';
    font-size: 24px;
    margin-bottom: 35px;
}

.main .section-3 .works .title {
    font-family: 'Open Sans';
    font-size: 20px;
    margin-bottom: 25px;
}

.main .section-3 .web-dev-works {
    margin-bottom: 50px;
}

.main .section-3 .web-dev-works .work-1, .work-2 {
    margin-right: 45px;
}

/***** RESPONSIVE  *****/



/*----- SECTION 4  -----*/

.main .section-4 {
    background: yellowgreen;
    margin-left: auto;
    margin-right: auto;
    /* 1130 - padding total of section */
    height: 990px;
}

.main .section-4 .title-section {
    padding-top: 60px;
    width: 240px;
    margin: auto;
    font-family: 'Adelle Bold';
    font-size: 34px;
}

.main .section-4 .title-section .line {
    width: 60px;
    height: 3px;
    background: #a45a9f;
}

.main .section-4 .section {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main .section-4 .contact-1 {
    margin-top: 100px;
    margin-bottom: 125px;
}

.main .section-4 .section .title {
    font-family: 'Open Sans Bold';
    font-size: 24px;
    margin-bottom: 40px;
}

/* .main .section-4 .section .help {
    margin-bottom: 30px;
    font-family: 'Open Sans Italic';
    font-size: 18px;
} */

.main .section-4 .container {
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    width: 275px;
}


.main .section-4 img {
    width: 75px;
}


.main .section-4 .info {
    font-family: 'Open Sans';
    font-size: 18px;
    margin-top: 25px;
    color: #2c122e;
}


/***** RESPONSIVE  *****/



/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
    height:190px;
    border-top: solid 1px #2c122e;
    text-align: center;
}

.footer .creator {
    margin-top: 85px;
    font-family: 'Open Sans';
    font-size: 20px;
}



/*------------------------------------*\
  #USER FLOW PAGE
\*------------------------------------*/

.main-user-flow {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-user-flow .title-section {
    padding-top: 60px;
    width: 240px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Adelle Bold';
    font-size: 28px;
}

.main-user-flow .line {
    width: 40px;
    height: 3px;
    margin-left: 5px;
    background: #a45a9f;
}

.main-user-flow .example {
    font-family: 'Open Sans';
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 0px;
}