/*
a45a9f = violet
2c122e = noir
*/

/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

@font-face {
    font-family: 'Adelle Bold';
    src: url(../fonts/Adelle_Bold.otf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}

body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
    background: #dfdfdf;
    width: 100%;
    height: 190px;
    border-bottom: 1px solid #2c122e;
}

.header .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header .logo-section {
    display: inline-block;
    margin-right: 160px;
    margin-left: 45px;
    position: relative;
    bottom: -12px;
}


.header .menu-section {

    display: inline-block;
    position: relative;
    bottom: 62px;
}

.header .line {
    width: 50px;
    height: 3px;
    background: #a45a9f;
}

.header .menu-section .item {
    display: inline-block;
    text-align: center;
    font-family: 'Adelle Bold';
    font-size: 25px;
}

.header .menu-section .item-1, .item-2, .item-3 {
    margin-right: 90px;
}

/***** RESPONSIVE  *****/



/*------------------------------------*\
  #MAIN
\*------------------------------------*/

/*----- SECTION 1  -----*/

.main {
    width: 100%;
}

.main .section-1 {
    background: burlywood;
    margin-left: auto;
    margin-right: auto;
    /* 940 - padding total of section */
    height: 880px;
}

.main .section-1 .title-section {
    padding-top: 60px;
    width: 200px;
    margin: auto;
    font-family: 'Adelle Bold';
    font-size: 34px;
}

.main .section-1 .title-section .line {
    width: 60px;
    height: 3px;
    background: #a45a9f;
}

.main .section-1 .text-section {
    padding-top: 80px;
    width: 750px;
    margin: auto;
    font-family: 'Open Sans';
    font-size: 24px;
}

.main .section-1 .text-section .p {
    margin-bottom: 40px;
}

/***** RESPONSIVE  *****/



/*----- SECTION 2  -----*/

/***** RESPONSIVE  *****/



/*----- SECTION 3  -----*/

/***** RESPONSIVE  *****/



/*----- SECTION 4  -----*/

/***** RESPONSIVE  *****/



/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

